{% extends 'courses/base.html'%}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock %}

{% block content %}


<h1>Available Courses</h1>

{% if error %}
    <h2 style = "color :red ; font-size: 30px">{{ error }}</h2>
{% endif %}

    <div class="courses-container">
        <div>
            <a href="{% url 'course-create' %}" class="btn btn-primary">Create New Course</a>
        </div>
    <table> 
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Image </th>
        <th> Actions </th>
    </tr>
    {% for course in courses %}
    <tr>
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td><img src="{{ course.image.url }}" alt="{{ course.name }}" width="100"></td>
        <td>
            <a href="{% url 'course-detail' course.id %}" class="btn btn-primary m-1">View</a>
            <a href="{% url 'course-delete' course.id %}" class="btn btn-primary m-1">Delete</a>
            <a href="{% url 'course-update' course.id %}" class="btn btn-primary m-1">Update</a>
        </td>
    </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}